.form-1,
.form-2 {
  width: fit-content;
  background-color: var(--element-2-bg-color);
  color: var(--main-text-color);
  padding: 15px;
  border-radius: 5px;
  margin: 0 auto;
  position: relative;
}

.label {
  display: block;
  margin-top: 10px;
}

.container {
  position: relative;
}

.error-message {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.error-message p {
  color: red;
  width: fit-content;
  margin: 0 auto;
}

.place-holder {
  opacity: 0;
}

.input {
  font-size: medium;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 5px;
  background-color: var(--input-bg-color);
  width: 550px;
  color: var(--main-text-color);
  max-width: 80vw;
}

.select {
  color: var(--main-text-color);
  background-color: var(--input-bg-color);
}

.password-container {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.show-btn {
  font-size: large;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 4px;
  color: var(--main-text-color);
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  width: 550px;
  max-width: 80vw;
}

.preview {
  position: relative;
  margin: 10px;
}

.preview-image {
  max-width: 150px;
  max-height: 150px;
  cursor: grab;
}

.removeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.button,
.button-file {
  margin-top: 10px;
  align-items: center;
  appearance: none;
  background-color: var(--button-color);
  border-radius: 4px;
  border-width: 0;
  box-shadow: var(--button-box-shadow);
  box-sizing: border-box;
  color: var(--main-text-color);
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 38px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.button:focus,
.button-file:focus {
  box-shadow:
    var(--button-shadow-active) 0 0 0 1.5px inset,
    var(--button-shadow-hover) 0 2px 4px,
    var(--button-shadow-hover) 0 7px 13px -3px,
    var(--button-shadow-active) 0 -3px 0 inset;
}

.button:hover,
.button-file:hover {
  box-shadow:
    var(--button-shadow-hover) 0 4px 8px,
    var(--button-shadow-hover) 0 7px 13px -3px,
    var(--button-shadow-active) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active,
.button-file:active {
  box-shadow: var(--button-shadow-active) 0 3px 7px inset;
  transform: translateY(2px);
}

.button-file {
  margin-top: 0;
}
