.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--main-text-color);
}

.loading {
  text-shadow: -1px 2px 0px rgba(0, 146, 255, 1);
}

.error {
  text-shadow: -1px 2px 0px rgba(255, 0, 0, 1);
}
