.main {
  height: fit-content;
  min-height: 55vh;
  width: 100%;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: var(--element-bg-color);
  margin: 20px 0;
  color: var(--main-text-color);
}

.password-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: 0 auto;
}

.input {
  font-size: medium;
  border-radius: 10px;
  border: 1px solid black;
  padding: 5px 5px;
  background-color: var(--input-bg-color);
  width: 350px;
  color: var(--main-text-color);
}

.show-btn {
  font-size: large;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 4px;
}

.error-message-password {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  text-wrap: nowrap;
}
