.nav {
  position: fixed;
  background-color: var(--nav-bg-color);
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 1000;
}

.link-container {
  background-color: var(--nav-a-container);
  margin-right: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 1px 10px;
  text-decoration: none;
  color: var(--nav-text-color);
}

.logo {
  text-decoration: none;
  color: var(--nav-text-color);
  font-size: 20px;
  margin-right: 20px;
}

.link-container p {
  text-decoration: none;
  color: var(--nav-text-color);
}

.link-container:hover {
  transform: translateY(-0.8px);
}
