.container {
  margin-top: 20px;
}

.container input {
  color: var(--main-text-color);
  height: 27px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 0 10px;
  font-size: large;
}

.container button {
  color: var(--main-text-color);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 15px;
}

.container button:hover {
  transform: translateY(-1px);
}
