:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-bg-color: #4d4d4d;
  --nav-a-container: #292929;
  --nav-text-color: #dddddd;
  --element-bg-color: rgb(70, 70, 70);
  --main-text-color: rgb(255, 255, 255);
  --activ-button-color: rgb(180, 180, 180);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
